<!DOCTYPE html>
<html>
	<head>
        <link rel="shortcut icon" type="image/x-icon" href="https://production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
        <link rel="mask-icon" type="" href="https://production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
        <title>CodePen - Redesigned - Company Employees Hierarchy Chart </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css'>
        <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto'>
        <link rel="stylesheet" href="/stylesheets/lib/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/lib/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/orgchart.css">


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        


		<!-- meta block -->
		<title>Image card editor - DHTMLX Diagram</title>
		<meta name="description" content="Check interactive samples of DHTMLX Diagram to explore its org chart editor and other details.">
		<!-- end meta block -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
        

        <link href="/stylesheets/diagram.css" rel="stylesheet">  
        <script type="text/javascript" src="/scripts/diagram.js"></script>  
        
        <link href="/stylesheets/diagramWithEditor.css" rel="stylesheet">  
        <script type="text/javascript" src="/scripts/diagramWithEditor.js"></script>
        <script type="text/javascript" src="/scripts/fs-js/index.js"></script>


        <link rel="stylesheet" href="/stylesheets/common/index.css">
		<link rel="stylesheet" href="/stylesheets/common/diagram.css">
        <script type="text/javascript" src="/scripts/common/data.js"></script>
        <script type="text/javascript" src="/scripts/ddatttaaa.js"></script>
        <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
		<!-- custom sample head -->
		
		<style>
			body > .dhx_widget {
				max-height: calc(100% - 61px);
			}
		</style>
    </head>
     <!-- connected user id input here -->
    
     <p id="gg" style="color: rgb(0, 0, 0, 0); font-size: 0px; display: none;"><%= dataa%></p>
    
     <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-sm py-0">
         <div class="container">
             <a id="navBrand" href="" class="navbar-brand">Brand</a>
             <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks">
             <span><i class="fas fa-angle-double-down"></i></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <ul class="navbar-nav mr-auto">
                     <div class="dropdown my-0 py-0">
                         <button class="dropbtn ml-3 my-0 py-0">Units</button>
                         <div class="dropdown-content">
                             <a class="dropdown-item" href="/orgchart/<%= currentUser._id%>">All Units</a>
                             <% units.forEach(function(unit){ %>
                               
                               <a class="dropdown-item" href="/orgchart/<%= currentUser._id%>/<%= unit._id%>"><%= unit.value%></a>
                             <% }); %>
                         </div>
                       </div>
                  </ul>
                  <ul class="navbar-nav navbar-right">
                   <li class="nav-item">
                     
                     <a class="nav-link" href="/user/<%=currentUser._id%>/units/new">new Unit</a>
                    </li>
                    <%if(!currentUser){%>
                   <li class="nav-item">
                     <a class="nav-link" href="register">Sign In</a>
                    </li>
                    <li class="nav-item">
                     <a class="nav-link" href="login">Login</a>
                    </li>
                    <% }else{%>
                        <li class="nav-item mr-3">
                        <a class="nav-link" href="/users/<%= currentUser._id%>/profil" ><i class="fa fa-user" aria-hidden="true"></i>Profil</a>
                        </li>
                        <li class="nav-item">
                         <a class="nav-link" href="/logout">Logout</a>
                        </li>
                        <%}%>
                  
                   <li class="nav-item mr-3">
                     <div class="notificationDropdown my-0 py-0">
                         <a class="nav-link"><i class="fas fa-comments"></i></a>
                         <div class="floating ui red label" style="top: 0em;"><span id="msgNotifsNumber"></span></div>
                         <div id="msgNotificationsContent" class="notificationDropdownContent">
                             <!-- nofications items -->
                         </div>
                     </div>
                   </li>   
                   <li class="nav-item mr-3">
                       <div class="notificationDropdown my-0 py-0">
                           <a class="nav-link"><i class="fas fa-envelope"></i></a>
                           <div class="floating ui red label" style="top: 0em;"><span id="mailNotifsNumber"></span></div>
                           <div id="mailNotificationsContent" class="notificationDropdownContent">
                               <!-- nofications items -->
                           </div>
                       </div>
                   </li>
                   <li class="nav-item mr-3">
                       <div class="notificationDropdown my-0 py-0">
                           <a class="nav-link"><i class="fas fa-bell"></i></a>
                           <div class="floating ui red label" style="top: 0em;"><span id="bellNotifsNumber"></span></div>
                           <div id="bellNotificationsContent" class="notificationDropdownContent">
                               <!-- nofications items -->
                           </div>
                       </div>
                   </li>
                   
                  </ul>
                 
               </div>
         </div>
     </nav>
   <!-- <body data-gr-c-s-loaded="true">
       
        <section id="control" class="dhx_sample-controls" style="display: flex;">
            <button class="dhx_sample-btn dhx_sample-btn--flat" onclick="runEditor()">Edit</button>
        </section>
        <section id="container" class="dhx_sample-container__without-editor">
            <div class="dhx_sample-widget" id="diagram" style="display: block;">
                <div class="dhx_diagram dhx_widget">
                    <div class="dhx_diagram__container dhx_org_chart" style="height: 975px; width: 1560px;">
                        <div style="transform: scale(1); position: absolute; top: 0px; left: 0px; transform-origin: center top 0px; z-index: 0;" class="dhx_wrapper">
                            <div class="dhx_diagram__scale-container"><svg xmlns="http://www.w3.org/2000/svg" width="1560" height="975" viewBox="-40 -40 1560 975"><defs><filter x="0" y="0" width="1" height="1" id="dhx_text_background"><feFlood flood-color="white"></feFlood><feComposite in="SourceGraphic"></feComposite></filter></defs><g shape-rendering="crispedges"><g dhx_id="u1596055681634" class="dhx_diagram_connector "><path d="M 745,115L 745,115 L 745,135.5 L 165,135.5 L 165,160" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g><g dhx_id="u1596055681635" class="dhx_diagram_connector "><path d="M 165,275L 165,275 L 165,295.5 L 165,295.5 L 165,310" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g><g dhx_id="u1596055681646" class="dhx_diagram_connector "><path d="M 745,115L 745,115 L 745,135.5 L 535,135.5 L 535,160" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g><g dhx_id="u1596055681655" class="dhx_diagram_connector "><path d="M 745,115L 745,115 L 745,135.5 L 905,135.5 L 905,160" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g><g dhx_id="u1596055681656" class="dhx_diagram_connector "><path d="M 740,218L 740,218 L 720.5,218 L 720.5,368 L 760,368" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g><g dhx_id="u1596055681657" class="dhx_diagram_connector "><path d="M 740,218L 740,218 L 720.5,218 L 720.5,528 L 760,528" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g><g dhx_id="u1596055681658" class="dhx_diagram_connector "><path d="M 740,218L 740,218 L 720.5,218 L 720.5,678 L 760,678" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g><g dhx_id="u1596055681659" class="dhx_diagram_connector "><path d="M 740,218L 740,218 L 720.5,218 L 720.5,838 L 760,838" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g><g dhx_id="u1596055681660" class="dhx_diagram_connector "><path d="M 745,115L 745,115 L 745,135.5 L 1295,135.5 L 1295,160" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g><g dhx_id="u1596055681661" class="dhx_diagram_connector "><path d="M 1130,218L 1130,218 L 1110.5,218 L 1110.5,368 L 1150,368" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g><g dhx_id="u1596055681664" class="dhx_diagram_connector "><path d="M 1130,218L 1130,218 L 1110.5,218 L 1110.5,528 L 1150,528" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g><g dhx_id="u1596055681665" class="dhx_diagram_connector "><path d="M 1130,218L 1130,218 L 1110.5,218 L 1110.5,678 L 1150,678" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g></g></svg>
                                <div
                                    style="position: absolute; top: 40px; left: 40px;" class="dhx_shape-container">
                                    <div class="dhx_diagram_flow_item " dhx_id="main" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 0px; left: 580px;">
                                        <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                                            <section class="template">
                                                <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-1.jpg" alt="Kristin Mccoy-Medical director"></div>
                                                <div class="template_container">
                                                    <h3>Kristin Mccoy</h3>
                                                    <p>Medical director</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(405) 555-0128</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:kmccoy@gmail.com" target="_blank">kmccoy@gmail.com</a></span></div>
                                                <div
                                                    class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                                        </section>
                                    </div>
                                    <div dhx_diagram="hide" class="dhx_hide_icon" style="position: absolute; top: 115px; left: 165px;">
                                        <div style="background: rgb(96, 125, 139) none repeat scroll 0% 0%;" class="dhx_icon-container"><i class="dxi  dxi-minus"></i></div>
                                    </div>
                            </div>
                            <div class="dhx_diagram_flow_item " dhx_id="1" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 160px; left: 0px;">
                                <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                                    <section class="template">
                                        <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-2.jpg" alt="Theo Fisher-Head of department"></div>
                                        <div class="template_container">
                                            <h3>Theo Fisher</h3>
                                            <p>Head of department</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(405) 632-1372</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:tfisher@gmail.com" target="_blank">tfisher@gmail.com</a></span></div>
                                        <div
                                            class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                                </section>
                            </div>
                            <div dhx_diagram="hide" class="dhx_hide_icon" style="position: absolute; top: 115px; left: 165px;">
                                <div style="background: rgb(0, 199, 181) none repeat scroll 0% 0%;" class="dhx_icon-container"><i class="dxi  dxi-minus"></i></div>
                            </div>
                        </div>
                        <div class="dhx_diagram_flow_item " dhx_id="1.1" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 310px; left: 0px;">
                            <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                                <section class="template">
                                    <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-3.jpg" alt="Francesca Saunders-Attending physician"></div>
                                    <div class="template_container">
                                        <h3>Francesca Saunders</h3>
                                        <p>Attending physician</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(402) 371-6736</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:fsaunders@gmail.com" target="_blank">fsaunders@gmail.com</a></span></div>
                                    <div
                                        class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                            </section>
                        </div>
                        <div dhx_diagram="hide" class="dhx_expand_icon" style="position: absolute; top: 115px; left: 165px;">
                            <div style="background: rgb(3, 169, 244) none repeat scroll 0% 0%;" class="dhx_icon-container"><i class="dxi  dxi-plus"></i></div>
                        </div>
                    </div>
                    <div class="dhx_diagram_flow_item " dhx_id="2" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 160px; left: 370px;">
                        <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                            <section class="template">
                                <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-4.jpg" alt="Alisha Hall-Head of department"></div>
                                <div class="template_container">
                                    <h3>Alisha Hall</h3>
                                    <p>Head of department</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(405) 372-9756</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:ahall@gmail.com" target="_blank">ahall@gmail.com</a></span></div>
                                <div
                                    class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                        </section>
                    </div>
                    <div dhx_diagram="hide" class="dhx_expand_icon" style="position: absolute; top: 115px; left: 165px;">
                        <div style="background: rgb(0, 199, 181) none repeat scroll 0% 0%;" class="dhx_icon-container"><i class="dxi  dxi-plus"></i></div>
                    </div>
                </div>
                <div class="dhx_diagram_flow_item " dhx_id="3" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 160px; left: 740px;">
                    <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                        <section class="template">
                            <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-6.jpg" alt="Edward Sharp-Head of department"></div>
                            <div class="template_container">
                                <h3>Edward Sharp</h3>
                                <p>Head of department</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(451) 251-2578</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:esharp@gmail.com" target="_blank">esharp@gmail.com</a></span></div>
                            <div
                                class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                    </section>
                </div>
                <div dhx_diagram="hide" class="dhx_hide_icon" style="position: absolute; top: 57.5px; left: 0px;">
                    <div style="background: rgb(0, 199, 181) none repeat scroll 0% 0%;" class="dhx_icon-container"><i class="dxi  dxi-minus"></i></div>
                </div>
            </div>
            <div class="dhx_diagram_flow_item " dhx_id="3.1" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 310px; left: 760px;">
                <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                    <section class="template">
                        <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-7.jpg" alt="Cruz Burke-Attending physician"></div>
                        <div class="template_container">
                            <h3>Cruz Burke</h3>
                            <p>Attending physician</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(587) 234-8975</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:cburke@gmail.com" target="_blank">cburke@gmail.com</a></span></div>
                        <div
                            class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                </section>
            </div>
            </div>
            <div class="dhx_diagram_flow_item " dhx_id="3.2" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 470px; left: 760px;">
                <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                    <section class="template">
                        <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-8.jpg" alt="Eloise Saunders-Attending physician"></div>
                        <div class="template_container">
                            <h3>Eloise Saunders</h3>
                            <p>Attending physician</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(875) 231-5332</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:esaunders@gmail.com" target="_blank">esaunders@gmail.com</a></span></div>
                        <div
                            class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                </section>
            </div>
            </div>
            <div class="dhx_diagram_flow_item " dhx_id="3.3" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 620px; left: 760px;">
                <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                    <section class="template">
                        <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-9.jpg" alt="Sophia Matthews-Attending physician"></div>
                        <div class="template_container">
                            <h3>Sophia Matthews</h3>
                            <p>Attending physician</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(361) 423-7234</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:smatthews@gmail.com" target="_blank">smatthews@gmail.com</a></span></div>
                        <div
                            class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                </section>
            </div>
            </div>
            <div class="dhx_diagram_flow_item " dhx_id="3.4" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 780px; left: 760px;">
                <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                    <section class="template">
                        <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-10.jpg" alt="Kara Foster-Attending physician"></div>
                        <div class="template_container">
                            <h3>Kara Foster</h3>
                            <p>Attending physician</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(565) 525-0672</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:kfoster@gmail.com" target="_blank">kfoster@gmail.com</a></span></div>
                        <div
                            class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                </section>
            </div>
            </div>
            <div class="dhx_diagram_flow_item " dhx_id="4" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 160px; left: 1130px;">
                <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                    <section class="template">
                        <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-11.jpg" alt="Peter Cox-Head of department"></div>
                        <div class="template_container">
                            <h3>Peter Cox</h3>
                            <p>Head of department</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(732) 321-2312</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:pcox@gmail.com" target="_blank">pcox@gmail.com</a></span></div>
                        <div
                            class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                </section>
            </div>
            <div dhx_diagram="hide" class="dhx_hide_icon" style="position: absolute; top: 57.5px; left: 0px;">
                <div style="background: rgb(0, 199, 181) none repeat scroll 0% 0%;" class="dhx_icon-container"><i class="dxi  dxi-minus"></i></div>
            </div>
            </div>
            <div class="dhx_diagram_flow_item " dhx_id="4.1" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 310px; left: 1150px;">
                <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                    <section class="template">
                        <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-12.jpg" alt="Nancy Collins-Attending physician"></div>
                        <div class="template_container">
                            <h3>Nancy Collins</h3>
                            <p>Attending physician</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(743) 235-1263</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:ncollins@gmail.com" target="_blank">ncollins@gmail.com</a></span></div>
                        <div
                            class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                </section>
            </div>
            <div dhx_diagram="hide" class="dhx_expand_icon" style="position: absolute; top: 115px; left: 165px;">
                <div style="background: rgb(3, 169, 244) none repeat scroll 0% 0%;" class="dhx_icon-container"><i class="dxi  dxi-plus"></i></div>
            </div>
            </div>
            <div class="dhx_diagram_flow_item " dhx_id="4.2" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 470px; left: 1150px;">
                <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                    <section class="template">
                        <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-13.jpg" alt="Honey Black-Attending physician"></div>
                        <div class="template_container">
                            <h3>Honey Black</h3>
                            <p>Attending physician</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(263) 234-8756</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:hblack@gmail.com" target="_blank">hblack@gmail.com</a></span></div>
                        <div
                            class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                </section>
            </div>
            </div>
            <div class="dhx_diagram_flow_item " dhx_id="4.3" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 620px; left: 1150px;">
                <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                    <section class="template">
                        <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-5.jpg" alt="Archie Moore-Attending physician"></div>
                        <div class="template_container">
                            <h3>Archie Moore</h3>
                            <p>Attending physician</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(705) 236-5742</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:amoore@gmail.com" target="_blank">amoore@gmail.com</a></span></div>
                        <div
                            class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                </section>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            <div class="dhx_sample-widget" id="editor" style="display: none;">
                <div style="height: 100%; width: 100%;" class="dhx_widget dhx_layout dhx_layout-rows dhx_org_chart_editor dhx_layout-cell--gravity">
                    <div aria-labelledby="tab-content-top" class="dhx_layout-cell dhx_topbar shadow-bottom dhx_layout-cell--gravity">
                        <div class="dhx_topbar_wrap" style="display: flex; justify-content: space-between; width: 100%; height: 100%;"><button class="dhx_button dhx_button--size_medium dhx_button--color_primary dhx_button--view_link dhx_button__topbar" dhx_id="resetAll"><span class="dhx_button__text">Reset Changes</span></button><button class="dhx_button dhx_button--size_medium dhx_button--color_primary dhx_button--view_flat dhx_button__topbar"
                                dhx_id="applyAll"><span class="dhx_button__text">Apply all</span></button>
                            <div class="dhx_state_block">
                                <div dhx_id="undo" class="undo dxi dxi-undo "></div>
                                <div dhx_id="redo" class="redo dxi dxi-redo "></div>
                            </div>
                            <div class="dhx_items_block"><button class="dhx_button dhx_button--size_medium dhx_button--color_primary dhx_button--view_link dhx_button__topbar" dhx_id="exportData"><span class="dhx_button__text">Export Data</span></button><label class="dhx_button dhx_button--size_medium dhx_button--color_primary dhx_button--view_link dhx_button__topbar"
                                    dhx_id="importData" for="file-upload"><span class="dhx_button__text">Import Data</span><input id="file-upload" type="file" style="display: none;" accept="application/JSON"></label>
                                <div class="dhx_visibility dxi dxi-eye"></div>
                                <div class="dhx_editor_scale">
                                    <div class="dhx_zoom_in dxi dxi-minus"></div>
                                    <div class="dhx_scale_value">100%</div>
                                    <div class="dhx_zoom_out dxi dxi-plus"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dhx_layout-cell dhx_layout-columns flex editor dhx_layout-cell--gravity">
                        <div aria-labelledby="tab-content-center" class="dhx_layout-cell flex dhx_layout-cell--gravity">
                            <div class="dhx_diagram dhx_widget">
                                <div class="dhx_diagram__container dhx_org_chart" style="height: 1035px; width: 1560px;">
                                    <div style="transform: scale(1); position: absolute; top: 0px; left: 0px; transform-origin: center top 0px; z-index: 0;" class="dhx_wrapper">
                                        <div class="dhx_diagram__scale-container"><svg xmlns="http://www.w3.org/2000/svg" width="1560" height="1035" viewBox="-40 -70 1560 1035"><defs><filter x="0" y="0" width="1" height="1" id="dhx_text_background"><feFlood flood-color="white"></feFlood><feComposite in="SourceGraphic"></feComposite></filter></defs><g shape-rendering="crispedges"><g dhx_id="u1596055681634" class="dhx_diagram_connector "><path d="M 745,115L 745,115 L 745,135.5 L 165,135.5 L 165,160" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g><g dhx_id="u1596055681635" class="dhx_diagram_connector "><path d="M 165,275L 165,275 L 165,295.5 L 165,295.5 L 165,310" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g><g dhx_id="u1596055681646" class="dhx_diagram_connector "><path d="M 745,115L 745,115 L 745,135.5 L 535,135.5 L 535,160" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g><g dhx_id="u1596055681655" class="dhx_diagram_connector "><path d="M 745,115L 745,115 L 745,135.5 L 905,135.5 L 905,160" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g><g dhx_id="u1596055681656" class="dhx_diagram_connector "><path d="M 740,218L 740,218 L 720.5,218 L 720.5,368 L 760,368" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g><g dhx_id="u1596055681657" class="dhx_diagram_connector "><path d="M 740,218L 740,218 L 720.5,218 L 720.5,528 L 760,528" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g><g dhx_id="u1596055681658" class="dhx_diagram_connector "><path d="M 740,218L 740,218 L 720.5,218 L 720.5,678 L 760,678" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g><g dhx_id="u1596055681659" class="dhx_diagram_connector "><path d="M 740,218L 740,218 L 720.5,218 L 720.5,838 L 760,838" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g><g dhx_id="u1596055681660" class="dhx_diagram_connector "><path d="M 745,115L 745,115 L 745,135.5 L 1295,135.5 L 1295,160" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g><g dhx_id="u1596055681661" class="dhx_diagram_connector "><path d="M 1130,218L 1130,218 L 1110.5,218 L 1110.5,368 L 1150,368" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g><g dhx_id="u1596055681664" class="dhx_diagram_connector "><path d="M 1130,218L 1130,218 L 1110.5,218 L 1110.5,528 L 1150,528" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g><g dhx_id="u1596055681665" class="dhx_diagram_connector "><path d="M 1130,218L 1130,218 L 1110.5,218 L 1110.5,678 L 1150,678" fill="none" class="dhx_diagram_line " stroke-dasharray="" stroke-linejoin="round" stroke="#CCC" stroke-width="2"></path></g></g></svg>
                                            <div
                                                style="position: absolute; top: 70px; left: 40px;" class="dhx_shape-container">
                                                <div class="dhx_diagram_flow_item " dhx_id="main" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 0px; left: 580px;">
                                                    <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                                                        <section class="template">
                                                            <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-1.jpg" alt="Kristin Mccoy-Medical director"></div>
                                                            <div class="template_container">
                                                                <h3>Kristin Mccoy</h3>
                                                                <p>Medical director</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(405) 555-0128</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:kmccoy@gmail.com" target="_blank">kmccoy@gmail.com</a></span></div>
                                                            <div
                                                                class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                                                    </section>
                                                </div>
                                                <div dhx_diagram="hide" class="dhx_hide_icon" style="position: absolute; top: 115px; left: 165px;">
                                                    <div style="background: rgb(96, 125, 139) none repeat scroll 0% 0%;" class="dhx_icon-container"><i class="dxi  dxi-minus"></i></div>
                                                </div>
                                        </div>
                                        <div dhx_id="1" class="dhx_diagram_flow_item " style="transform: rotate(0deg); position: absolute; top: 160px; left: 0px; z-index: 0; height: 115px; width: 330px;">
                                            <div class="dhx_diagram_flow_shape dhx_item_shape " style="height: 115px; width: 330px;">
                                                <section class="template">
                                                    <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-2.jpg" alt="Theo Fisher-Head of department"></div>
                                                    <div class="template_container">
                                                        <h3>Theo Fisher</h3>
                                                        <p>Head of department</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(405) 632-1372</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:tfisher@gmail.com" target="_blank">tfisher@gmail.com</a></span></div>
                                                    <div
                                                        class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                                            </section>
                                        </div>
                                        <div style="top: 115px; left: 165px; position: absolute;" class="dhx_hide_icon" dhx_diagram="hide">
                                            <div class="dhx_icon-container" style="background: rgb(0, 199, 181) none repeat scroll 0% 0%;"><i class="dxi  dxi-minus"></i></div>
                                        </div>
                                    </div>
                                    <div class="dhx_diagram_flow_item " dhx_id="1.1" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 310px; left: 0px;">
                                        <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                                            <section class="template">
                                                <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-3.jpg" alt="Francesca Saunders-Attending physician"></div>
                                                <div class="template_container">
                                                    <h3>Francesca Saunders</h3>
                                                    <p>Attending physician</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(402) 371-6736</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:fsaunders@gmail.com" target="_blank">fsaunders@gmail.com</a></span></div>
                                                <div
                                                    class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                                        </section>
                                    </div>
                                    <div dhx_diagram="hide" class="dhx_expand_icon" style="position: absolute; top: 115px; left: 165px;">
                                        <div style="background: rgb(3, 169, 244) none repeat scroll 0% 0%;" class="dhx_icon-container"><i class="dxi  dxi-plus"></i></div>
                                    </div>
                                </div>
                                <div class="dhx_diagram_flow_item " dhx_id="2" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 160px; left: 370px;">
                                    <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                                        <section class="template">
                                            <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-4.jpg" alt="Alisha Hall-Head of department"></div>
                                            <div class="template_container">
                                                <h3>Alisha Hall</h3>
                                                <p>Head of department</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(405) 372-9756</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:ahall@gmail.com" target="_blank">ahall@gmail.com</a></span></div>
                                            <div
                                                class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                                    </section>
                                </div>
                                <div dhx_diagram="hide" class="dhx_expand_icon" style="position: absolute; top: 115px; left: 165px;">
                                    <div style="background: rgb(0, 199, 181) none repeat scroll 0% 0%;" class="dhx_icon-container"><i class="dxi  dxi-plus"></i></div>
                                </div>
                            </div>
                            <div class="dhx_diagram_flow_item " dhx_id="3" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 160px; left: 740px;">
                                <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                                    <section class="template">
                                        <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-6.jpg" alt="Edward Sharp-Head of department"></div>
                                        <div class="template_container">
                                            <h3>Edward Sharp</h3>
                                            <p>Head of department</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(451) 251-2578</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:esharp@gmail.com" target="_blank">esharp@gmail.com</a></span></div>
                                        <div
                                            class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                                </section>
                            </div>
                            <div dhx_diagram="hide" class="dhx_hide_icon" style="position: absolute; top: 57.5px; left: 0px;">
                                <div style="background: rgb(0, 199, 181) none repeat scroll 0% 0%;" class="dhx_icon-container"><i class="dxi  dxi-minus"></i></div>
                            </div>
                        </div>
                        <div class="dhx_diagram_flow_item " dhx_id="3.1" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 310px; left: 760px;">
                            <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                                <section class="template">
                                    <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-7.jpg" alt="Cruz Burke-Attending physician"></div>
                                    <div class="template_container">
                                        <h3>Cruz Burke</h3>
                                        <p>Attending physician</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(587) 234-8975</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:cburke@gmail.com" target="_blank">cburke@gmail.com</a></span></div>
                                    <div
                                        class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                            </section>
                        </div>
                    </div>
                    <div class="dhx_diagram_flow_item " dhx_id="3.2" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 470px; left: 760px;">
                        <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                            <section class="template">
                                <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-8.jpg" alt="Eloise Saunders-Attending physician"></div>
                                <div class="template_container">
                                    <h3>Eloise Saunders</h3>
                                    <p>Attending physician</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(875) 231-5332</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:esaunders@gmail.com" target="_blank">esaunders@gmail.com</a></span></div>
                                <div
                                    class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                        </section>
                    </div>
                </div>
                <div class="dhx_diagram_flow_item " dhx_id="3.3" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 620px; left: 760px;">
                    <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                        <section class="template">
                            <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-9.jpg" alt="Sophia Matthews-Attending physician"></div>
                            <div class="template_container">
                                <h3>Sophia Matthews</h3>
                                <p>Attending physician</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(361) 423-7234</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:smatthews@gmail.com" target="_blank">smatthews@gmail.com</a></span></div>
                            <div
                                class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                    </section>
                </div>
            </div>
            <div class="dhx_diagram_flow_item " dhx_id="3.4" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 780px; left: 760px;">
                <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                    <section class="template">
                        <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-10.jpg" alt="Kara Foster-Attending physician"></div>
                        <div class="template_container">
                            <h3>Kara Foster</h3>
                            <p>Attending physician</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(565) 525-0672</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:kfoster@gmail.com" target="_blank">kfoster@gmail.com</a></span></div>
                        <div
                            class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                </section>
            </div>
            </div>
            <div class="dhx_diagram_flow_item " dhx_id="4" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 160px; left: 1130px;">
                <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                    <section class="template">
                        <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-11.jpg" alt="Peter Cox-Head of department"></div>
                        <div class="template_container">
                            <h3>Peter Cox</h3>
                            <p>Head of department</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(732) 321-2312</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:pcox@gmail.com" target="_blank">pcox@gmail.com</a></span></div>
                        <div
                            class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                </section>
            </div>
            <div dhx_diagram="hide" class="dhx_hide_icon" style="position: absolute; top: 57.5px; left: 0px;">
                <div style="background: rgb(0, 199, 181) none repeat scroll 0% 0%;" class="dhx_icon-container"><i class="dxi  dxi-minus"></i></div>
            </div>
            </div>
            <div class="dhx_diagram_flow_item " dhx_id="4.1" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 310px; left: 1150px;">
                <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                    <section class="template">
                        <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-12.jpg" alt="Nancy Collins-Attending physician"></div>
                        <div class="template_container">
                            <h3>Nancy Collins</h3>
                            <p>Attending physician</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(743) 235-1263</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:ncollins@gmail.com" target="_blank">ncollins@gmail.com</a></span></div>
                        <div
                            class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                </section>
            </div>
            <div dhx_diagram="hide" class="dhx_expand_icon" style="position: absolute; top: 115px; left: 165px;">
                <div style="background: rgb(3, 169, 244) none repeat scroll 0% 0%;" class="dhx_icon-container"><i class="dxi  dxi-plus"></i></div>
            </div>
            </div>
            <div class="dhx_diagram_flow_item " dhx_id="4.2" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 470px; left: 1150px;">
                <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                    <section class="template">
                        <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-13.jpg" alt="Honey Black-Attending physician"></div>
                        <div class="template_container">
                            <h3>Honey Black</h3>
                            <p>Attending physician</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(263) 234-8756</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:hblack@gmail.com" target="_blank">hblack@gmail.com</a></span></div>
                        <div
                            class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                </section>
            </div>
            </div>
            <div class="dhx_diagram_flow_item " dhx_id="4.3" style="transform: rotate(0deg); z-index: 0; position: absolute; height: 115px; width: 330px; top: 620px; left: 1150px;">
                <div class="dhx_diagram_flow_shape dhx_item_shape " style="width: 330px; height: 115px;">
                    <section class="template">
                        <div class="template_container template_img-container"><img src="../common/big_img/big-avatar-5.jpg" alt="Archie Moore-Attending physician"></div>
                        <div class="template_container">
                            <h3>Archie Moore</h3>
                            <p>Attending physician</p><span><img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"><p>(705) 236-5742</p></span><span> <img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"><a style="color: rgb(2, 136, 209);" href="mailto:amoore@gmail.com" target="_blank">amoore@gmail.com</a></span></div>
                        <div
                            class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></div>
                </section>
            </div>
            </div>
            </div>
            </div>
            </div>
            <div style="z-index: 0;" class="dhx_controls"></div>
            </div>
            </div>
            </div>
            <div aria-labelledby="tab-content-right" class="dhx_layout-cell sidebar dhx_layout-cell--gravity">
                <div class="dhx_property">
                    <div class="edit-section input_group_up">
                        <div class="section-title">Grid step</div>
                        <div class="inputs_group"><label for="step" class="input_element"><input type="text" name="step" index="0" class=""><div class="input_icon_wrap"><div class="dxi dxi-grid-step"></div></div></label></div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>
        </section>
        <script>
            var diagram = new dhx.Diagram("diagram", {
                type: "org",
                defaultShapeType: "template"
            });
    
            var editor = new dhx.DiagramEditor("editor", {
                type: "org",
                shapeType: "template"
            });
    
            function template(config) {
                var template = '<section class="template">';
                template += '<div class="template_container template_img-container">';
                template += '<img src="' + config.photo + '" alt="' + config.name + "-" + config.post + '"></img>';
                template += '</div>';
                template += '<div class="template_container">';
                template += '<h3>' + config.name + '</h3>';
                template += '<p>' + config.post + '</p>';
                template += '<span>';
                template += '<img class="template_icon" src="../common/img/icons/cellphone-android.svg" alt="phone number"></img>';
                template += '<p>' + config.phone + '</p>';
                template += '</span>';
                template += '<span>';
                template += '<img class="template_icon" src="../common/img/icons/email-outline.svg" alt="email"></img>';
                template += '<a style="color:#0288D1" href="mailto:' + config.mail + '" target="_blank">' + config.mail + '</a> ';
                template += '</span></div>';
                template += '<div class="toggle_container"><img class="template_icon" src="../common/img/icons/toggle.svg" alt="toggle"></img></div>';
                template += '</section>';
                return template;
            }
    
            diagram.addShape("template", {
                template: template,
                defaults: {
                    height: 115,
                    width: 330
                }
            });
    
            editor.diagram.addShape("template", {
                template: template,
                defaults: {
                    name: "Name and First name",
                    post: "Position held",
                    phone: "(405) 000-00-00",
                    mail: "some@mail.com",
                    photo: "../common/big_img/big-avatar-1.jpg",
    
                    height: 115,
                    width: 330
                },
                properties: [{
                        type: "position"
                    },
                    {
                        type: "size"
                    },
                    {
                        type: "text",
                        label: "name",
                        property: "name"
                    },
                    {
                        type: "text",
                        label: "post",
                        property: "post"
                    },
                    {
                        type: "text",
                        label: "phone",
                        property: "phone"
                    },
                    {
                        type: "text",
                        label: "email",
                        property: "mail"
                    },
                    {
                        type: "img",
                        label: "photo",
                        property: "photo"
                    }
                ]
            });
    
            var item;
    
            diagram.events.on("ShapeClick", function(id) {
                item = diagram.data.getItem(id);
            });
    
            var contextMenu = new dhx.ContextMenu(null, {
                css: "dhx_widget--bg_gray"
            });
    
            contextMenu.data.parse([{
                    "type": "menuItem",
                    "id": "mail",
                    "value": "Mail",
                    "icon": "mdi mdi-email"
                },
                {
                    "type": "menuItem",
                    "id": "call",
                    "value": "Call",
                    "icon": "mdi mdi-phone"
                },
                {
                    "type": "menuItem",
                    "id": "site",
                    "value": "Open Site",
                    "icon": "mdi mdi-open-in-new"
                }
            ]);
    
            contextMenu.events.on("click", function(id) {
                switch (id) {
                    case "mail":
                        window.open('mailto:' + item.mail + ',_blank');
                        break;
                    case "call":
                        window.open('tel:' + item.phone + ',_blank');
                        break;
                    case "site":
                        window.open('https://dhtmlx.com/docs/products/dhtmlxDiagram/', '_blank');
                        break;
                }
            });
    
            var toggleItem;
    
            function show(event) {
                event.preventDefault();
                contextMenu.showAt(event.target, "bottom");
            }
    
            function showMenu() {
                dhx.awaitRedraw().then(function() {
                    if (toggleItem) {
                        for (var index = 0; index < toggleItem.length; index++) {
                            toggleItem[index].removeEventListener("click", show);
                        }
                    }
                    toggleItem = document.querySelectorAll(".toggle_container");
                    for (var index = 0; index < toggleItem.length; index++) {
                        toggleItem[index].addEventListener("click", show);
                    }
                });
            }
    
            showMenu();
    
            diagram.events.on("afterexpand", function() {
                showMenu();
            });
    
            var editorCont = document.querySelector("#editor");
            var diagramCont = document.querySelector("#diagram");
            var control = document.querySelector("#control");
            var container = document.querySelector("#container");
    
            var withEditor = "dhx_sample-container__with-editor";
            var withoutEditor = "dhx_sample-container__without-editor";
    
            function expand() {
                diagramCont.style.display = "none";
                control.style.display = "none";
                editorCont.style.display = "block";
                container.classList.remove(withoutEditor);
                container.classList.add(withEditor);
            }
    
            function collapse() {
                diagramCont.style.display = "block";
                control.style.display = "flex";
                editorCont.style.display = "none";
                container.classList.remove(withEditor);
                container.classList.add(withoutEditor);
            }
    
            function runEditor() {
                expand();
                editor.import(diagram);
            }
    
            editor.events.on("ApplyButton", function() {
                collapse();
                diagram.data.parse(editor.serialize());
            });
    
            editor.events.on("ResetButton", function() {
                collapse();
            });
    
            diagram.data.parse(medCardShape);
        </script>
        <div dhx_widget_id="u1596055681399" class="dhx_ dhx_context-menu"></div>
    
    
    </body>--> 
	<body>
	    
		<script >
           // var fs = require("fs");
            // var data = JSON.parse(<%-dataa%>);
			var editor = new dhx.DiagramEditor(document.body, {
				type: "org",
				shapeType: "img-card",
				controls: { 
					apply: true,
					reset: true,
					import: true,
					export: true,
					gridStep: false
				},
            });
            
            editor.parse(data);
          //  console.log((JSON.stringify(data)));
            editor.events.on("ApplyButton", function(){
                //var fs = require("fs");
               //console.log(data);
               //var fse = fs;
               /* fs.outputFile('C:/myapp/master/public/scripts/ddatttaaa.js', data, function(err){
                    if (err) return console.log(err) // => null
                    console.log('success!')
                  })*/
                /*  $.ajax({
                         type: "POST",
                         url: "/scripts/ddatttaaa.js",
                         data: JSON.stringify(editor.serialize()),
                         success: function(){
                             console.log("sesss");
                         },
                         dataType: String
                    });*/
                    $.post( "/scripts/ddatttaaa.js", JSON.stringify(editor.serialize()),function( data ) {
                     
                     });
                  alert(JSON.stringify(editor.serialize()));
               // editor.diagram.data.parse(editor.serialize());       
                console.log("The changes are applied");
                       
                 });
                 
            //var data = JSON.stringify(editor.serialize());
            //alert(JSON.stringify(data));
           // diagram.data.parse(editor.serialize());
           // editor.data.serialize(data);
        </script>
        






        <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src='/scripts/socket-io.js'></script>
        <script src="/scripts/orgchart.js"></script>
	</body>
</html>
