<%- include('../partials/profilHeader.ejs')%>
<script>
    // Material Select Initialization
$(document).ready(function() {
$('.mdb-select').materialSelect();
});
        </script>
<div class="container m-0" style="max-width: 100%;">
    <div class="row d-flex justify-content-center align-items-center">
        
        <dev class="column col-md-12 mt-5 p-0 ml-5 mr-4" style="max-width: 100%;">
            <h2 class="ui header" style="margin-left: 512px;"><span class="inputsTitles">Edit Users</span></h2>
            <div class="column col-sm-6 d-flex justify-content-center" style="margin-left: 348px;">
              <a href="/users/<%=currentUser._id%>/profil/gestionUsers/register" class="d-block standardBtnStyle" style="padding: 7px; width: 60% ;height: 37.67px;margin-top: 30px;">New User</a>  
          </div>
            <form id="register-form" class="ui form" action="/users/<%=user._id%>/profil/gestionUsers" method="post">
                  
                  <div class="container my-4">
                   
                    
                   <!-- <div class="ui search selection dropdown">
                        <input name="states" type="hidden">
                        <i class="dropdown icon"></i>
                        <div class="default text">States</div>
                        <div class="menu">
                          <div class="unfilterable item" data-value="AL">Alabama (unfilterable)</div>
                          <div class="item" data-value="AK">Alaska</div>
                          <div class="unfilterable item" data-value="AZ">Arizona (unfilterable)</div>
                          <div class="unfilterable item" data-value="AR">Arkansas (unfilterable)</div>
                          <div class="item" data-value="CA">California</div>
                          <div class="item" data-value="OH">Ohio</div>
                          <div class="item" data-value="OK">Oklahoma</div>
                        </div>
                      </div>
                    -->
                  <!-- <div class="ui fluid multiple search selection dropdown" style="width: 100%;">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Users</div>
                        <div class="menu">
                           
                            <div class="item">
                                <i class="attention right floated icon"></i>
                                Important
                              </div>
                              <div class="item">
                                <i class="comment right floated icon"></i>
                                Announcement
                              </div>
                              <div class="item">
                                <i class="conversation right floated icon"></i>
                                Discussion
                              </div>
                             
                        </div>
                    </div>--> 

                    

                    
                  </div>
                  <div id="contactsList" class="container scrollDiv p-4">
                    <% users.forEach(function(user){
                      //  console.log(chrArray);
                        %>
                        <%if(users.length > 0){%>
                            <div id="kkkkkkkk">
                                <div class="CharacterHeader"><span class="text-uppercase"><%= user.username[0]%></span></div>
                                
                                    <div class="normalDiv row py-2 px-5 m-2">
                                        <div class="column col-9 d-flex">
                                          <img class="ui avatar image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQMDZH1hAZTs5H364fQPBj33spP6P8mi_CkfmHKcOUYArZ3LYTt">
                                            <p class="mt-1 ml-5"><span class="inputsTitles"><%= user.username%></span></p>
                                        </div>
                                        <div class="column col-3 d-flex justify-content-around text-align-center">
                                            <div class="ui toggle checkbox">
                                              
                                              <%if(user.admin===true){%>
                                                
                                                <input type="checkbox" name="admin" value="<%=user._id%>"  checked>
                                                <span>admin</span>
                                                <%}else{%>
                                                  <input type="checkbox" name="admin" value="<%=user._id%>" >
                                                  <span>admin</span>
                                                   <%}%>
                                                <label></label>
                                              </div>
                                           
                                        </div>
                                    </div>
                                
                            </div>
                            <br>
                        <%}%>
                    <%});%>
                </div>
            
                <button class="btn btn-outline-success" style="left: 280px;margin-top: 60px; margin-bottom: 100px;" type="submit">Save Users</button>
                <button class="btn btn-outline-danger" style="margin-left: 890px;margin-top: 60px; margin-bottom: 100px;" href="/user/<%=currentUser._id%>/profil">Back</button>
              </form>
        </dev>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>




<%- include('../partials/profilFooter')%>