<%- include('../partials/profilHeader')%>

<a href="/users/<%=user._id%>/profil/post/new">new post</a>
<a href="/users/<%=user._id%>/profil/post/edit">edit post</a>
<a href="/users/<%=user._id%>/profil/post/edit">supprimer post</a>
<%- include('../partials/profilFooter')%>